<h1>Now here is your result!</h1>
<p>Your word: <%= @attempt %></p>
<p>Time taken to answer: <%= @result[:time] %></p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>
<p>You have played <%= @number %> times!</p>
<p>Your average score is: <%= @average %></p>
